<ul class="nav nav-list">
  <li class=<%= params[:controller] == 'admin/users' ? "active" : "" %>>
    <a href="<%= root_path %>">
      <i class="ace-icon glyphicon glyphicon-search"></i>
      <span class="menu-text"> search </span>
    </a>
    <b class="arrow"></b>
  </li>
</ul>